<div class="d-flex align-items-center justify-content-center vh-100" id="container">
    <div class="text-center">
      <span class="material-icons" id="emoticon-triste">
        sentiment_very_dissatisfied
        </span>
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3" id="texto"> <span class="text-danger">Opps!</span> El recurso: {{ruta}} no existe <i></i>.</p>
        <p class="lead">

          </p>
        <a href="#" class="btn btn-success">Ir a Home</a>
    </div>
</div>
